.slideshow {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    //overflow: hidden;
}

.contentSlide {
    width: 100%;
}

.contentSlide img{
    width: 100%;
}

.slidesjs-pagination {
    background-color: darkgray;
    list-style: none;
    overflow: hidden;
}

.slidesjs-pagination li{
    float: left;
}

.contentSlide .active {
    background: #000;
}

.slidesjs-navigation {
    background:  #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
}