* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    height: auto;
}

header {
    max-width: 100%;
    height: 70px;
    display: flex;
}

#cabecero {
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}

#cabecero h1 {
    max-width: 60%;
    line-height: 70px;
    letter-spacing: 10px;
    font-family: 'Dancing Script', bold;
    font-size: 3em;
    padding-left: 100px;
    text-shadow: 5px 5px 5px darkgray;
}

#botonera {
    max-width: 100%;
    height: 30px;
    background-color: lightgray;
    font-family: 'Bungee Shade', cursive;
}

#first_ul {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    list-style: none;
}

#first_ul li {
    line-height: 30px;
    padding: 0px 20px 0px 50px; 
    width: 100%;
}

.contenido {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    border: 2px solid;
    margin-bottom: 10px;
    position: relative;
    //background-size: cover;
}

#uno {
    background-image: url("/images/regalo/3.jpg");
}

#dos {
    background-image: url("/images/boda/3.jpg");
}

#tres {
    background-image: url("/images/xv/3.jpg");
}

p {
  height: 30px;
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small{
    opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

footer {
    margin: auto;
    max-width: 100%;
    height: 200px;
    background-color: azure;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: aqua;
}