* {
    margin: 0;
    padding: 0;
}

body {
    
}

a {
    color: black
    border: none;
    text-decoration: none;
}

a:hover {
    color: azure;
}

header {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70px;
    background-color:cadetblue;   
    border-radius: 10px;
}

#titulo {
    width: 30%;
    margin: auto;
    color: aliceblue;
    font-family: cursive;
    padding-left: 30px;
}

#botonera {
    width: 65%;
    margin: auto;
}

#first_ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0px;
    background: #fff;
    list-style: none;
}

#first_ul li {
    font: bold 12px/18px sans-serif;
    display:inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
}

#first_ul li:hover {
    background: #555;
    color: #fff;
}

#second_ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

#second_ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

#second_ul li:hover {
    background: #666;
}

#first_ul li:hover #second_ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.contenido {
    margin: auto;
    width: 80%;
    height: 300px;
    border: 2px solid;
    border-radius: 10px
}

#pie_pagina {
    background-color: beige;
    width: auto;
    height: 150px;
    border: 2px solid;
    border-radius: 10px;
}