#marco {
    margin: auto;
    width: 80%;
    height: 400px;
    background: url(imagenes/fondos/DC8.jpg) no-repeat center 0 fixed;
}

#primero {
    padding: 10px;
}

#color {
    width: 100%;
    height: 400px;
    background-color: rgba(255,255,255,0.6);
}

footer {
    width: 100%;
    height: 80px;
}

table {
    width: 100%;
    margin: center;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
}
td {
    border: 2px solid black;

}

h1, h2 {
    text-align: center;
}

footer {
    margin: auto;
    text-align: center;
    width: 100%;
    background: rgb(25,243,120);
}

.contenido {
    column-count: 3;
    text-align: justify;
    padding-right: 10px;
    column-rule: 2px solid ;
    border: 2px solid;
}
